#section-features{
    display: flex;
    flex-flow: row;
    padding: 15rem;
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)), url(../img/nat-4.jpg);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    margin-top: -13%;
    & .container:last-child{
            margin-right: 0px;
        }
    .container{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        color: $color-grey-dark;
        margin-right: 72px;
        padding: 30px;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
        border-radius: 3px;
        line-height: 1.7;
        background-color: rgba(255,255,255,0.8);
        font-weight: 400;
        margin-bottom: 10%;
        margin-top: 10%;
        h4{
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        p{
            font-size: 1.1rem;
        }
        img{
            width: 72px;
            margin-bottom: 1.2rem;
        }
    }
}