body{
  padding: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

header{
  display: flex;
  align-items: center;
  height: 940px;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../img/hero.jpg);
  .header-text{
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: -7%;
    position: absolute;
    z-index: 2;
    text-align: center;
    line-height: 1.7;
    color: white;
    h1{
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 3rem;
      margin: 0;
      padding: 0;
    }
    h3{
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.3rem;
      margin: 0;
      padding: 0;
      margin-bottom: 72px;
    }
    button{
      padding: 1.5rem 2rem;
      width: 320px;
      border-radius: 10rem;
      font-size: 1.2rem;
      border: none;
      background-color: #fff;
      color: #777;
      box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
    }
  }
}

#header-logo{
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 2;
}

#hamburger-button{
  position: fixed;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
  top: 5rem;
  right: 5rem;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  z-index: 9000;
  background-color: white;
}